[Unit]
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/sudobot

[Install]
WantedBy=multi-user.target
